{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="panel panel-danger" style="padding:40px;">
            <h1>Sivua ei löytynyt</h1>

            <p>
                The requested page couldn't be located. Checkout for any URL
                misspelling or <a href="{{ path('homepage') }}">return to the homepage</a>.
            </p>
        </div>
    </div>
{% endblock %}
