<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <!--[if IE]><meta http-equiv="X-UA-Compatible" content="IE=edge"><![endif]-->
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>{{ site.site().title }}</title>

        <meta name="description" content="{{ site.site().description }}">
        <meta property="og:description" content="{{ site.site().description }}"/>

        <link rel="apple-touch-icon-precomposed" sizes="57x57" href="{{ asset('apple-touch-icon-57x57.png') }}" />
        <link rel="apple-touch-icon-precomposed" sizes="114x114" href="{{ asset('apple-touch-icon-114x114.png') }}" />
        <link rel="apple-touch-icon-precomposed" sizes="72x72" href="{{ asset('apple-touch-icon-72x72.png') }}" />
        <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{{ asset('apple-touch-icon-144x144.png') }}" />
        <link rel="apple-touch-icon-precomposed" sizes="60x60" href="{{ asset('apple-touch-icon-60x60.png') }}" />
        <link rel="apple-touch-icon-precomposed" sizes="120x120" href="{{ asset('apple-touch-icon-120x120.png') }}" />
        <link rel="apple-touch-icon-precomposed" sizes="76x76" href="{{ asset('apple-touch-icon-76x76.png') }}" />
        <link rel="apple-touch-icon-precomposed" sizes="152x152" href="{{ asset('apple-touch-icon-152x152.png') }}" />
        <link rel="icon" type="image/png" href="{{ asset('favicon-196x196.png') }}" sizes="196x196" />
        <link rel="icon" type="image/png" href="{{ asset('favicon-96x96.png') }}" sizes="96x96" />
        <link rel="icon" type="image/png" href="{{ asset('favicon-32x32.png') }}" sizes="32x32" />
        <link rel="icon" type="image/png" href="{{ asset('favicon-16x16.png') }}" sizes="16x16" />
        <link rel="icon" type="image/png" href="{{ asset('favicon-128.png') }}" sizes="128x128" />
        <meta name="application-name" content="viraalit.net"/>
        <meta name="msapplication-TileColor" content="#FFFFFF" />
        <meta name="msapplication-TileImage" content="{{ asset('mstile-144x144.png') }}" />
        <meta name="msapplication-square70x70logo" content="{{ asset('mstile-70x70.png') }}" />
        <meta name="msapplication-square150x150logo" content="{{ asset('mstile-150x150.png') }}" />
        <meta name="msapplication-wide310x150logo" content="{{ asset('mstile-310x150.png') }}" />
        <meta name="msapplication-square310x310logo" content="{{ asset('mstile-310x310.png') }}" />



        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('css/bootstrap.min.css') }}" />
            <link rel="stylesheet" href="{{ asset('css/navbar.css') }}" />
            <link rel="stylesheet" href="{{ asset('css/custom.css?v=4') }}" />
            <link rel="stylesheet" href="{{ asset('css/carousel.css') }}" />

            <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Open+Sans" />
        {% endblock %}

    </head>
    <body>
        {{ include('navbar/navbar.html.twig') }}

        {% block body %}{% endblock %}


        {% block javascripts %}
            <script src="{{ asset('js/jquery-3.2.1.min.js') }}"></script>
            <script src="{{ asset('js/bootstrap.min.js') }}"></script>
            <script src="{{ asset('js/blazy.min.js') }}"></script>

            <script>
                window.cookieconsent_options = {
                    "message":  "{{ site.site().cookieconsentmessage }}",
                    "dismiss":  "{{ site.site().cookieconsentdismiss }}",
                    "learnMore":"{{ site.site().coonkieconsentlearnmore }}",
                    "link":     "{{ site.site().cookieconsentlink }}",
                    "theme":    "dark-bottom"
                };
            </script>
            <script src="http://cdnjs.cloudflare.com/ajax/libs/cookieconsent2/1.0.9/cookieconsent.min.js"></script>

            {{ site.site().googleanalytics | raw }}

            <script>
                $(document).ready(function() {
                    $('li.active').removeClass('active');
                    $('a[href="' + location.pathname + '"]').closest('li').addClass('active');
                });
            </script>
        {% endblock %}
    </body>
</html>



