


{% extends 'base.html.twig' %}

{% block body %}
    {% form_theme form 'form/fields.html.twig' %}


    <div class="container-fluid">
        <div class="row">
            <div class="col-md-4 col-md-offset-2">
                <div class="panel panel-default">
                    <div class="panel-body">
                        {{ form_start(form) }}
                            {{ form_errors(form) }}

                            {{ form_row(form.toptext) }}
                            {{ form_row(form.bottomtext) }}
                            {{ form_row(form.image) }}

                        {{ form_end(form) }}
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="meme-preview">
                            <img src="{{ image.imageName | imagine_filter('meme_preview') }}" id="blah" alt=""/>
                            <p class="toptext" id="toptext"></p>
                            <p class="bottomtext" id="bottomtext"></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                {% if page.public %}
                    <div class="panel panel-default">
                        <div class="panel-body">
                            {{ page.content | raw }}
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>


{% endblock %}


{% block javascripts %}
    {{ parent() }}
    <script src='https://www.google.com/recaptcha/api.js' async defer></script>
    <script>
        $(function () {
            $('#appbundle_meme_toptext').on('input', function () {
                $('.toptext').text($('#appbundle_meme_toptext').val());
            });
            $('#appbundle_meme_bottomtext').on('input', function () {
                $('.bottomtext').text($('#appbundle_meme_bottomtext').val());
            });
            $('#appbundle_meme_image_imageFile_file').on('change', function () {
                var reader = new FileReader();
                reader.onload = function (e) {
                    $('#blah').attr('src', e.target.result);
                };
                reader.readAsDataURL(this.files[0]);

                $('#imgerr').hide();
            });
        });
    </script>
{% endblock %}