
{% extends 'base.html.twig' %}

{% block body %}

    <ul id="meme-list" class="flex-container">
        {# Show some images even if js is broken / disabled. #}
        {% for meme in memes %}
            <li class="flex-item" id="{{ meme.id }}">
                <a href="{{ path('meme_show', {'meme_url': meme.url }, relative = false) }}">
                    <div class="list-meme-container">
                        <img src="{{ meme.image.imageName | imagine_filter('list_thumb') }}"
                             alt="alt-text"
                        />
                        <p class="toptext" id="toptext">{{ meme.toptext }}</p>
                        <p class="bottomtext" id="bottomtext">{{ meme.bottomtext }}</p>
                    </div>
                </a>
            </li>
        {% endfor %}
        {#{% for meme in memes | slice(40) %}#}
            {#<li class="flex-item" id="{{ meme.id }}">#}
                {#<a href="{{ path('meme_show', {'meme_url': meme.url }, relative = false) }}">#}
                    {#<div class="list-meme-container">#}
                        {#<img class="b-lazy"#}
                             {#src=data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==#}
                             {#data-src="{{ meme.image.imageName | imagine_filter('list_thumb') }}"#}
                             {#alt="alt-text"#}
                        {#/>#}

                        {#<p class="toptext" id="toptext">{{ meme.toptext }}</p>#}

                        {#<p class="bottomtext" id="bottomtext">{{ meme.bottomtext }}</p>#}
                    {#</div>#}
                {#</a>#}
            {#</li>#}
        {#{% endfor %}#}
    </ul>


    {% if page.public %}
        <div class="container">
            <div class="panel panel-default">
                <div class="panel-body">
                    {{ page.content | raw }}
                </div>
            </div>
        </div>
    {% endif %}


{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        $(function() {
            var image_end = false;

            $(window).scroll(function() {
                if($(window).scrollTop() + $(window).height() > $(document).height() - 200) {
                    getMemes();
                }
            });

            function getMemes() {
                var offset = $(".list-meme-container").length;
                if(image_end) return;
                $.ajax({
                    dataType: "json",
                    url: '/api/memes/list',
                    data: {'offset': offset},
                    success: function (data) {
                        if(data.count < 100) {
                            image_end = true;
                        }
                        // check if meme is all ready added, checking only first one probably no need for check everyone.
                        if($('#'+data['memes'][0].id).length !== 0){
                            return;
                        }
                        addNewListElements(data);
                    }
                });
            }

            function addNewListElements(data){
                var items = [];
                data['memes'].forEach(function(e) {
                    var meme = {
                        'image': (e.image.imageName)? e.image.imageName: '',
                        'toptext' : (e.toptext)? e.toptext: '',
                        'bottomtext' : (e.bottomtext)? e.bottomtext: ''
                    };

                    var new_img = '<li class="flex-item" id="'+e.id+'">'
                        + '<a href="/meme/show/'+e.url+'">'
                        + '<div class="list-meme-container">'
                        + '<img src="/media/cache/list_thumb/'+meme.image+'" alt="alt-text"/>'
                        + '<p class="toptext" id="toptext">'+meme.toptext+'</p>'
                        + '<p class="bottomtext" id="bottomtext">'+meme.bottomtext+'</p></div></a></li>';
                    items.push(new_img);
                });
                $('#meme-list').append(items.join(""));
            }
        });
    </script>
{% endblock %}
