
{% extends 'base.html.twig' %}

{% block body %}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="col-md-8">
                        <div class="meme-container">
                            <a href="">
                                <div class="image">
                                    <img id="meme-img" src="{{ meme.image.imageName | imagine_filter('meme') }}" alt=""/>

                                    <p class="toptext" id="toptext">{{ meme.toptext }}</p>

                                    <p class="bottomtext" id="bottomtext">{{ meme.bottomtext }}</p>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div id="meme-info" class="col-md-3 meme-info">
                        <div class="row"></div>
                        <!-- Add share etc button stuff here! -->

                        <div class="row">
                            <p>Katsottu {{ meme.viewCount }} kertaa</p>
                        </div>
                        <div class="row">
                            <button id="save-img" class="btn btn-info col-xs-12">Tallenna kuva</button>
                        </div>

                        <div class="row">
                            <a href="{{ path('meme_new', {'image_id': meme.image.id }, relative = false) }}">
                                <button class="btn btn-info col-xs-12">
                                    Uusi meemi tällä pohjalla.
                                </button>
                            </a>
                        </div>

                        <div class="hidden">
                            <canvas id="save-canvas"></canvas>
                        </div>



                    </div>
                </div>
            </div>
            {% if page.public %}
                <div class="panel panel-default">
                    <div class="panel-body">
                        {{ page.content | raw }}
                    </div>
                </div>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}


{% block javascripts %}
    {{ parent() }}
<script>
    $().ready(function() {
        $('#save-img').click(function(){
            saveImage();
        });
    });

    function saveImage(){
        var canvas = $("#save-canvas")[0],
            ctx = canvas.getContext("2d"),
            img = new Image();

        img.onload = function(){
            ctx.canvas.height = img.height;
            ctx.canvas.width = img.width;
            ctx.drawImage(img, 0, 0, img.width, img.height);

            ctx.font = "36px Impact";
            ctx.fillStyle = "white";
            ctx.strokeStyle = 'black';


            ctx.textAlign = "center";


            var topText = $('#toptext').text();
            var bottomText = $('#bottomtext').text();

            wrapTextUpper(ctx, topText,    canvas.width/2, 40, canvas.width, 36);
            wrapTextBottom(ctx, bottomText, canvas.width/2, canvas.height-40, canvas.width, 36);

            var a  = document.createElement('a');
            a.href = canvas.toDataURL('image/png');
            a.download = 'image.png';

            a.click()
        };

        img.src = $('#meme-img').attr('src');
    }

    // http://codepen.io/peterhry/pen/AGIEa
    function countLines(context, text, maxWidth){
        var words = text.split(' '),
                line = '',
                lineCount = 0,
                i,
                test,
                metrics,
                lines = [];

        for (i = 0; i < words.length; i++) {
            test = words[i];
            metrics = context.measureText(test);
            while (metrics.width > maxWidth) {
                // Determine how much of the word will fit
                test = test.substring(0, test.length - 1);
                metrics = context.measureText(test);
            }
            if (words[i] != test) {
                words.splice(i + 1, 0,  words[i].substr(test.length))
                words[i] = test;
            }

            test = line + words[i] + ' ';
            metrics = context.measureText(test);

            if (metrics.width > maxWidth && i > 0) {
                lines.push(line);
                line = words[i] + ' ';
                lineCount++;
            }
            else {
                line = test;
            }
        }
        lines.push(line);

        return lines;
    }
    function wrapTextUpper(context, text, x, y, maxWidth, lineHeight) {
        var lines = countLines(context, text, maxWidth);

        // loop for adding lines
        lines.forEach(function(line){
            context.fillText(line, x, y);
            context.strokeText(line, x, y);
            y += lineHeight;
        })
    }
    function wrapTextBottom(context, text, x, y, maxWidth, lineHeight) {
        var lines = countLines(context, text, maxWidth);

        // position of the first line
        y -= lineHeight * (lines.length -1);

        // loop for adding lines
        lines.forEach(function(line){
            context.fillText(line, x, y);
            context.strokeText(line, x, y);
            y += lineHeight;
        })
    }
</script>
{% endblock %}