{% extends 'base.html.twig' %}

{% block body %}


    <div class="container-fluid">
        <div class="row">
            <div style="padding-bottom: 20px;">
                {% if page.public %}
                    {{ page.content | raw }}
                {% endif %}
            </div>
        </div>
        <div class="row">
            <h2 class="text-center">Suosituimmat pohjat</h2>
            <div class="carousel-container" id="carousel_1">
                <div class="carousel">
                    <ul>
                        {% for template in popular_templates %}
                            <li>
                                <a href="{{ path('meme_new', {'image_id': template.image.id }, relative = false) }}">
                                    <img src="{{ template.image.imageName | imagine_filter('list_thumb') }}" />
                                </a>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>

        <div class="row">
            <h2 class="text-center">Uusimmat pohjat</h2>
            <ul id="template-list" class="flex-container">
                {% for template in templates %}
                    <li class="flex-item" id="template.id">
                        <a href="{{ path('meme_new', {'image_id': template.image.id }, relative = false) }}">
                            <img src="{{ template.image.imageName | imagine_filter('list_thumb') }}"
                                 alt="alt-text"
                            />
                        </a>
                    </li>
                {% endfor %}
            </ul>
        </div>

        <div style="height:300px;"></div>
    </div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        $(function() {
            function animateCarousel(id,direction){
                var carousel = $('#'+id),
                    carousel_ul = $(carousel).find('ul'),
                    carousel_il = $(carousel).find('li'),
                    carousel_width = ((carousel_il.length + 1) * (carousel_il.first().width()-10)) - carousel_ul.width(),
                    duration = 60000,
                    easing = 'linear';

                var dir = (direction === "right")? "+=": "-=";
                var new_dir = (direction === "right")? "left": "right";

                carousel_ul.animate({
                    "right": dir + carousel_width
                },{
                    duration: duration,
                    easing: easing
                }).promise().done(function(){
                    // set timeout or repeat here.
                    window.setTimeout(function(){
                        animateCarousel(id,new_dir);
                    }, 1000);
                })
            }

            window.setTimeout(function(){
                animateCarousel('carousel_1', 'right');
            }, 1000);

            var image_end = false;

            $(window).scroll(function() {
                if($(window).scrollTop() + $(window).height() > $(document).height() - 200) {
                    getTemplates();
                }
            });

            function getTemplates() {
                var offset = $(".flex-item").length;
                if(image_end) return;
                $.ajax({
                    dataType: "json",
                    url: '/api/templates/list',
                    data: {'offset': offset},
                    success: function (data) {
                        if(data.count < 100) {
                            image_end = true;
                        }
                        if(data.templates.length < 1) {
                            return;
                        }
                        addNewListElements(data);
                    }
                });
            }

            function addNewListElements(data){
                var items = [];
                data['templates'].forEach(function(e) {
                    if($('#'+e.id).length !== 0){
                        return;
                    }

                    var new_img = '<li class="flex-item" id="template.id">'
                    + '<a href="/meme/create/'+e.image.id+'">'
                    + '<img src="/media/cache/list_thumb/'+e.image.imageName+'" alt="alt-text"/></a></li>';

                    items.push(new_img);
                });
                $('#template-list').append(items.join(""));
            }

        });
    </script>
{% endblock %}
