{% extends 'base.html.twig' %}

{% block body %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12 col-md-8 col-md-offset-2">
                {% if page.public %}
                    {{ page.content | raw }}
                {% endif %}
            </div>
        </div>
        <div style="height:300px;"></div>
    </div>
{% endblock %}
