<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#mavbar" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand collapsed" href="{{ path('homepage') }}">
                {{ site.site().title }}
                <img style="float:left;margin-right: 10px;padding-top:4px;" alt="Brand" src="{{ asset('favicon-16x16.png') }}">
            </a>
        </div>

        <div class="collapse navbar-collapse" id="mavbar">
            <ul class="nav navbar-nav">
                <li><a href="{{ path('homepage') }}">Etusivu</a></li>

                <li><a href="{{ path('meme_latest_list') }}">Selaa meemejä</a></li>
                <li><a href="{{ path('meme_popular_list') }}">Suositut</a></li>
                <li><a href="{{ path('top_meme_sites') }}">Top meemi sivut</a></li>
                <li><a href="{{ path('about') }}">About</a></li>
            </ul>

            {#<ul class="nav navbar-nav navbar-right">#}
                {#{% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}#}

                    {#{% if is_granted('ROLE_ADMIN') %}#}
                        {#<li>#}
                            {#<a href="{{ path('admin_index') }}">Admin Panel</a>#}
                        {#</li>#}
                    {#{% endif %}#}

                    {#<li>#}
                        {#<a href="{{ path('fos_user_profile_show') }}">{{ app.user.username }} </a>#}
                    {#</li>#}
                    {#<li>#}
                        {#<a href="{{ path('fos_user_security_logout') }}">{{ 'layout.logout'|trans({}, 'FOSUserBundle') }}</a>#}
                    {#</li>#}
                {#{% else %}#}
                    {#<li>#}
                        {#<a href="{{ path('fos_user_security_login') }}">{{ 'layout.login'|trans({}, 'FOSUserBundle') }}</a>#}
                    {#</li>#}
                {#{% endif %}#}
            {#</ul>#}
        </div>
    </div>
</nav>

