.carousel-container {
    height: 200px;
    padding:0;
    margin:0;
}
.carousel {
    overflow: hidden;
    width: 100%;
    display: block;
    white-space: nowrap;
}
.carousel > ul {
    width: auto;
    position: relative;
    margin: 0;
    padding: 0;
    list-style:none;
}
.carousel > ul > li {
    display: inline-block;
    margin: 0;
    padding: 0;
}
.carousel > ul > li > img {
    width: 100px;
    height: auto;
}