@font-face { font-family: Impact; src: url('../fonts/impact.ttf'); }


body {
    padding-top: 70px;
    font-family: "Arial Black", Gadget, sans-serif
}

.flex-container {
    padding: 0;
    padding-left: 6px;
    padding-right: 6px;
    margin: 0;
    list-style: none;

    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;

    -webkit-flex-flow: row wrap;
    justify-content: center;
    align-content: flex-end;
}

.flex-item {
    padding: 4px;
    width: 33%;
    max-width: 300px;
    max-height: 200px;
    flex-grow: 2;

    -moz-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;

    z-index: 1;
}

.flex-item:hover {
    -webkit-transform: translate3d(0, 0, 0);
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    transform: scale(1.2);

    z-index: 10;
}

.flex-item img {
    width: 100%;
    height: 100%;
}

.flex-item:hover img {
    padding: 4px;
    background-color: white;
}

.meme-container {
    overflow: hidden;
}
@media (min-width: 858px) {
    .meme-container {
        font-size: 3em;
    }
}

.meme-container .image {
    position: relative;
    text-align: center;
}
.meme-container img {
    width: 100%;
}

.meme-container .toptext {
    font-family: Impact;
    text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;

    color: white;
    position: absolute;
    margin: auto;
    top: 20px;
    left:0;
    right:0;
}
.meme-container .bottomtext {
    font-family: Impact;
    text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;

    color: white;
    position: absolute;
    margin: auto;
    bottom: 20px;
    left:0;
    right:0;
}

@media (min-width: 858px) {
    .list-meme-container {
        font-size: 2em;
    }
}

.list-meme-container {
    position: relative;
    text-align: center;

    z-index: 1;
}
.list-meme-container:hover {
    z-index: 10;
}

.list-meme-container .toptext {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

    font-family: Impact;
    text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
    color: white;
    position: absolute;
    margin: auto;
    top: 20px;
    left:0;
    right:0;
}
.list-meme-container .bottomtext {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

    font-family: Impact;
    text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
    color: white;
    position: absolute;
    margin: auto;
    bottom: 20px;
    left:0;
    right:0;
}

.meme-preview {
    position: relative;
    text-align:center;
}
@media (min-width: 858px) {
    .meme-preview {
        font-size: 3em;
    }
}

.meme-preview img {
    width: 100%;
}

.meme-preview .toptext {
    font-family: Impact;
    text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;

    color: white;
    position: absolute;
    margin: auto;
    top: 20px;
    left:0;
    right:0;
    /*height:100px;*/
}
.meme-preview .bottomtext {
    font-family: Impact;
    text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;

    color: white;
    position: absolute;
    margin: auto;
    bottom: 20px;
    left:0;
    right:0;
    /*height:100px;*/
}
.meme-info {

}
.meme-info p {
    font-size: 2em;
}

.meme-info .row {
    padding-bottom: 20px;
}
.meme-info button {
    -moz-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}
.meme-info button:hover {
    z-index: 100;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: scale(1.2);
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
}
.meme-info a {
    color: #ffffff;
    text-decoration: none;
}
.meme-info a:hover {
    text-decoration: none;
}
.meme-info a:active {
    text-decoration: none;
}
.meme-info a:visited {
    text-decoration: none;
}
