.navbar {
    font-size: 1.4em;
}

.navbar-inverse {
    background-color: #ffffff;
    border-color: #ffffff;
}

.navbar-inverse .navbar-brand {
    color: #f80000;
}

.navbar-inverse .navbar-brand:focus, .navbar-inverse .navbar-brand:hover {
    color: #f80000;
    background-color: transparent;
}

.navbar-inverse .navbar-nav>li>a:hover {
    color: #f80000;
    background-color: transparent;
}
.navbar-inverse .navbar-toggle:focus, .navbar-inverse .navbar-toggle:hover {
    background-color: #ffffff;
}
.navbar-inverse .navbar-toggle {
    border-color: #f80000;
}
.navbar-inverse .navbar-toggle .icon-bar {
    background-color: #f80000;
}
.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus, .navbar-inverse .navbar-nav>.active>a:hover {
    color: #f80000;
    background-color: #ffffff;
}
.navbar-inverse .navbar-nav>.active {
    border-bottom: 2px solid;
    border-color: #f80000;
}
