{% extends 'EasyAdminBundle:default:layout.html.twig' %}

{% block main %}
    <style>
        iframe {
            width: 100%;
        }
    </style>
    <iframe src="{{ path('nelmio_api_doc_index') }}" frameborder="0" onload="resizeIframe(this)">
        <p>Your browser does not support iframes.</p>
    </iframe>

    <script>
        function resizeIframe(obj) {
            console.log(document.body.scrollHeight);
            obj.style.height = (document.body.scrollHeight - 110) + 'px';
        }
    </script>
{% endblock %}