{% extends 'EasyAdminBundle:default:layout.html.twig' %}

{% block main %}
    <style>
        .chart {
            position: relative;
        }
    </style>

    <div class="container">
        <div class="chart-container chart">
            <canvas id="meme-per-day"></canvas>
        </div>
    </div>


    <script src="{{ asset('js/Chart.min.js') }}"></script>
    <script>
        window.chartColors = {
            red: 'rgb(255, 99, 132)',
            orange: 'rgb(255, 159, 64)',
            yellow: 'rgb(255, 205, 86)',
            green: 'rgb(75, 192, 192)',
            blue: 'rgb(54, 162, 235)',
            purple: 'rgb(153, 102, 255)',
            grey: 'rgb(201, 203, 207)'
        };
    </script>
    <script>
        $(function() {
            var mee_data, dates, data, ctx;

            meme_data = {{ days|json_encode(constant('JSON_PRETTY_PRINT'))|raw }};

            if(meme_data.length < 1) return;

            dates = meme_data.map(function (point) {
                return point.tdate;
            });
            data = meme_data.map(function (point) {
                return point[1];
            });
            ctx = document.getElementById("meme-per-day").getContext('2d');
            var chart = new Chart(ctx, {
                type: 'line',
                data: {
                    labels: dates,
                    datasets: [{
                        label: '# memes per day',
                        fill: false,
                        backgroundColor: window.chartColors.red,
                        borderColor: window.chartColors.red,
//                      borderDash: [5, 5],
                        data: data,
                        borderWidth: 1
                    }]
                },
                options: {
                    scales: {
                        yAxes: [{
                            ticks: {
                                beginAtZero:true
                            }
                        }]
                    }
                }
            });
        });
    </script>
{% endblock %}